@font-face {
    font-family: "Inter";
    src: url('./assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url('./assets/fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url('./assets/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-grey-700: hsl(0, 0%, 20%);
    --color-grey-800: hsl(0, 0%, 12%);
    --color-grey-900: hsl(0, 0%, 8%);
    --color-white: hsl(0, 0%, 100%);
    --color-green: hsl(75, 94%, 57%);
    --font-family-base: 'Inter', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family-base);
    background-color: var(--color-grey-900);
    color: var(--color-white);
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 1rem;
    min-height: 100vh;
}

.card-content {
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(1.25rem, 2.8vw, 2.5rem);
    width: clamp(280px, 27vw, 385px);
    max-width: 100%;
    background-color: var(--color-grey-800);
    border-radius: 0.875rem;
}


.avatar {
    display: block;
    width: clamp(70px, 6.3vw, 90px);
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 1.6rem;
}

.name {
    margin: 0;
    color: var(--color-white);
    font-weight: 600;
    font-size: clamp(1.125rem, 1.67vw, 1.5rem);
    margin-bottom:0.75rem;
}

.profile-location {
    margin:0;
    color:var(--color-green);
    font-weight: 700;
    font-size: clamp(0.5rem,0.97vw,0.875rem);
    margin-bottom: 1.75rem;
}

.profile-bio{
    margin:0;
    color: var(--color-white);
    font-weight: 400;
    font-size: clamp(0.5rem,0.97vw,0.875rem);
    margin-bottom:1.5rem;
}

.social-links-list{
    margin:0;
    padding: 0;
    list-style-type: none;
    display:flex;
    flex-direction: column;
    gap:0.92rem;
}

.social-links-item a{
    box-sizing: border-box;
    display:block;
    text-align: center;
    background-color: var(--color-grey-700);
    width:clamp(270px,22vw,305px);
    border-radius: 0.5rem;
    line-height: 17px;
    font-size: clamp(0.5rem, 0.97vw, 0.875rem);
    color: var(--color-white);
    text-decoration: none;
    font-weight: 700;
    padding: clamp(0.75rem, 1vw, 0.87rem);
}

.social-links-list a:hover{
    background-color: var(--color-green);
  color: var(--color-grey-800);
  transform: translateY(-3px); /* лёгкое поднятие */
}

.social-links-list a:active {
  transform: translateY(0);
  filter: brightness(0.9);
}
