@font-face {
    font-family:"Inter";
    src: url('./assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight:400;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family:"Inter";
    src: url('./assets/fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight:600;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family:"Inter";
    src: url('./assets/fonts/Inter-Bold.ttf') format('truetype');
    font-weight:700;
    font-style: normal;
    font-display:swap;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root{
    
}